<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MiniMarket.presentacion.Properties.Settings.cn" connectionString="Data Source=LAPTOP-ICSLPP1J;Initial Catalog=DB_MINIMARKET;Persist Security Info=True;User ID=lbandher;Password=l700305*"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>